site_name: Django Nitro
site_description: Server-rendered Django views with HTMX + Alpine.js
site_author: Jearel Alcantara
site_url: https://django-nitro.github.io/django-nitro

repo_name: django-nitro/django-nitro
repo_url: https://github.com/django-nitro/django-nitro
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quick-start.md
  - Core Concepts:
    - Views: core-concepts/views.md
    - Template Tags: core-concepts/template-tags.md
    - Forms & Wizards: core-concepts/forms-wizards.md
    - Tables & Filters: core-concepts/tables-filters.md
    - Multi-Tenancy: core-concepts/multi-tenancy.md
  - Components:
    - Overview: components/overview.md
    - HTML Components: components/html-components.md
    - Alpine Components: components/alpine-components.md
  - Utilities:
    - Currency: utilities/currency.md
    - Dates: utilities/dates.md
    - Exports: utilities/exports.md
  - Migration:
    - From v0.7: migration/from-v07.md
  - Changelog: changelog.md

extra:
  version:
    provider: mike
