{% load nitro_tags %}

<div class="counter-widget">
    <h2>Counter: <span x-text="count"></span></h2>

    <div class="controls">
        <button {% nitro_action 'decrement' %}>-</button>
        <button {% nitro_action 'reset' %}>Reset</button>
        <button {% nitro_action 'increment' %}>+</button>
    </div>

    <div class="step-control">
        <label>
            Step:
            <input
                type="number"
                {% nitro_model 'step' %}
                min="1"
                max="100"
            >
        </label>
    </div>

    <div {% nitro_show 'isLoading' %} class="loading">Processing...</div>

    <div class="messages">
        <template x-for="msg in messages" :key="msg.text">
            <div :class="'alert-' + msg.level" x-text="msg.text"></div>
        </template>
    </div>
</div>
